body {
  text-align: center;
}

.title {
  color:rgb(79, 79, 236);
  font-size: 3rem;
  text-shadow: 3px 3px rgb(198, 199, 248);
  margin: 50px 50px;
}

.result {
  color:brown;
  font-size: 3rem;
  text-shadow: 3px 3px rgb(198, 199, 248);
  word-spacing: 1.05rem;
  margin: 2rem 2rem;
}

button {
  font-size: 1rem;
}

.hidden {
  display: none;
}