body {
  text-align: center;
}

h1 {
  color:blue;
  font-size: 4rem;
  
}

button {
  font-size: 3rem;
}

.number {
  color:darkorchid;
  font-size: 4rem;  
}

h2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color:chocolate;
  font-size: 2rem;
}

